* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(235 236 238);
}

.initial-page__layout {
  display: flex;
  width: 30%;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.initial-page__layout--text {
  color: rgb(94, 15, 15);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.initial-page__layout--text a {
  text-decoration: none;
  color: black;
}

.initial-page__layout--text a:hover {
  text-decoration: underline;
  color: rgb(36, 36, 36);
}

.initial-page__layout--text.checklist {
  padding: 20px;
  width: 100%;
  border: 3px solid rgb(201, 6, 6);
  border-radius: 20px;
}

.checked {
  border: 2px solid rgb(64, 255, 0);
}

.helpful {
  border: 4px dashed rgb(0, 26, 255);
}

.useless {
  border: 2px solid rgb(255, 123, 0);
}

.clown {
  border: 4px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #DC2903 , #F4F955, #0625F9);
  -webkit-border-image: -webkit-linear-gradient(top left, #DC2903 , #F4F955, #0625F9);
  border-image: linear-gradient(to bottom right, #DC2903 , #F4F955, #0625F9);
  border-image-slice: 1;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet)
}

code {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.learn-page__layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
  background: url('https://yt3.ggpht.com/a/AGF-l7-OY3Y94086xfi3-a522vkEbcwryGiLOjxe3A=s900-c-k-c0xffffffff-no-rj-mo');
  background-size: 300px;
}

.learn-page__layout--study-block {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(184, 173, 160);
  width: 50%;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 25px;
  box-shadow: 12px 12px 12px 5px rgba(0, 0, 0, 0.5);
}

.learn-page__layout--study-block .text {
  background-color: rgb(147, 201, 165);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.learn-page__layout--study-block .help {
  background-color: rgb(128, 159, 189);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.learn-page__layout--study-block .script {
  background-color: rgb(190, 129, 129);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.checklist .learn-page__layout--study-block {
  width: 60% !important;
}